
/* ===================================================================
 * Notifications
 * ===================================================================*/
#notification {
    font-size: 10pt;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #161616;
    border-bottom: none;
    background: rgba(0,0,0,0.85);
    padding: 8px 8px 4px 8px;
    spacing-rows: 12px;
    spacing-columns: 12px;
    width: 34em;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
	margin-from-right-edge-of-screen: 20px;
	color: white;
}
#notification.multi-line-notification {
	padding-bottom: 8px;
	color: white;
}

/* Input text in a notification box ? */
#notification StEntry {
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #565656;
    color: #a8a8a8;
	selection-background-color: white;
	selected-color: black;
    background-color: #404040;
    caret-color: #ffffff;
    caret-size: 1px;
	transition-duration: 200;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(85,85,85,0.2);
	background-gradient-end: rgba(85,85,85,0.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);
}
#notification StEntry:focus {
    padding: 5px 6px;
    color: #333;
    font: 8pt;
    border-image: url("img/search-entry-focus.svg") 5 5 5 5 stretch;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(85,85,85,0.3);
	background-gradient-end: rgba(85,85,85,0.5);
}



/* We use row-span = 2 for the image cell, which prevents its height preferences to be
	taken into account during allocation, so its height ends up being limited by the height
	of the content in the other rows. To avoid showing a stretched image, we set the minimum
	height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
	min-height: 159px;
	color: white;
}
#notification-scrollview {
	max-height: 10em;
}
#notification-scrollview > .top-shadow,
#notification-scrollview > .bottom-shadow {
	height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
	padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
	padding-right: 6px;
}
#notification-body {
	spacing: 5px;
}
#notification-actions {
	spacing: 10px;
}
.notification-button {
    padding: 4px 12px;
    transition-duration: 100;
}

.notification-button:hover, .notification-button:focus {
}

.notification-button:active {
}

.notification-icon-button {
    border-radius: 3px;
    padding: 6px;
}

.notification-icon-button:focus {
}

.notification-icon-button:hover {
}

.notification-icon-button:active {
}

.notification-icon-button > StIcon {
    icon-size: 36px;
}
