/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
	padding: .5em 1em;
}

.notification-applet-container {
	max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
}

.check-box StBin {
    width: 24px;
    height: 18px;
    background-image: url("../img/checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("../img/checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("../img/checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("../img/checkbox-focused.svg");
}

.check-box StLabel {
   font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin {
    width: 22px;
    height: 22px;
    background-image: url("../img/radiobutton-off.svg");
    border-radius: 15px;
}

.radiobutton:focus StBin {
    background-image: url("../img/radiobutton-off.svg");
}

.radiobutton:checked StBin {
    background-image: url("../img/radiobutton.svg");
}

.radiobutton:focus:checked StBin {
    background-image: url("../img/radiobutton.svg");
}

.radiobutton StLabel {
   padding-top: 4px;
   font-size: 0.9em;
   box-shadow: none;
}
